<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086291222355-ojg9acme0fhhj0cp8iu3d0rf8do1uit0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086291222355-ojg9acme0fhhj0cp8iu3d0rf8do1uit0</string>
	<key>API_KEY</key>
	<string>AIzaSyBc6Ntp9taSCu7a3WLENoAYEj33-ZISfv8</string>
	<key>GCM_SENDER_ID</key>
	<string>1086291222355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Quinn.Personection</string>
	<key>PROJECT_ID</key>
	<string>personection</string>
	<key>STORAGE_BUCKET</key>
	<string>personection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086291222355:ios:426363d47214cf2e</string>
	<key>DATABASE_URL</key>
	<string>https://personection.firebaseio.com</string>
</dict>
</plist>